# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/dataSources.local.xml
.idea/workspace.xml
grails-app/conf/hibernate/
grails-app/controllers/
grails-app/domain/
grails-app/migrations/
grails-app/services/
grails-app/taglib/
grails-app/utils/
lib/
scripts/
src/
target/work/plugin-provided-classes/
target/work/resources/asset/
target/work/resources/grails/
target/work/resources/hibernate/
target/work/resources/org/
target/work/resources/spring/
target/work/stubs/
target/work/tomcat/
test/
web-app/META-INF/
web-app/css/
web-app/images/
web-app/js/
hibernate/
